<!-- import React, { useState, useEffect, useRef } from "react";
import { Line } from "react-chartjs-2";
import {
  Chart as ChartJS,
  LineElement,
  CategoryScale,
  LinearScale,
  PointElement
} from 'chart.js';
import styles from "./Chart.module.css";
import { FetchDailyData } from "../../api";
import "chartjs-adapter-date-fns";

ChartJS.register(
  LineElement,
  CategoryScale,
  LinearScale,
  PointElement
) -->



<!-- {
    data: {
      datasets: [
        {
          data: dailyData,
          label: "Infected",
          borderColor: "#3333ff",
          fill: true,
        },
      ],
    },
    options: {
      scales: {
        x: {
          type: "time",
          time: {
            tooltipFormat: "MMM d, yyyy",
          },
        },
      },
    },
  } -->