@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ubuntu:wght@500&display=swap');
body{
    background-color: rgb(250, 250, 250);
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}